.userinfo{
	max-width: 500px;
	margin: 0 auto;
}

.login {
  text-align: center;
  position: relative;
  max-width: 790px;
  margin: 0 auto;
  border-radius: 3px;
}

h4 {
	text-align: left;
	position: relative;
	background: #fff;
    border-top: 1px solid #eee;
    padding: 1.5rem 2.5rem 1.5rem 1rem;
	margin: 0 auto;
}
